<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title>Sign in - PixelsDB</title>
    <link rel="icon" href="favicon.ico" type="image/ico">
    <meta name="keywords" content="PixelsDB">
    <meta name="description" content="The Rover of Pixels, a cloud-native data lake. See pixelsdb.io">
    <meta name="author" content="DongyangGeng">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/rover.css">
    <!-- JS -->
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/validate/jquery.validate.min.js"></script>
    <script type="text/javascript" src="js/layer/layer.min.js"></script>
    <script type="text/javascript" src="js/jquery.blockUI.js"></script>
    <script type="text/javascript" src="js/issue-ui.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/signin.js"></script>
</head>
<body>
<div class="pixels-wrapper" style="background-image: url(images/login-bg2.jpg); background-size: cover;">
    <div class="pixels-login">
        <div class="login-center">
<!--            <div class="login-header text-center">-->
<!--                <img alt="pixelsDB" src="images/logo-sidebar.png">-->
<!--            </div>-->
            <div class="login-title text-center">
                <img src="images/logo-sidebar.png" alt="PixelsDB"/>
            </div>
            <div th:if="${param.error}">
                Invalid username and password.
            </div>
            <div th:if="${param.logout}">
                You have been signed out.
            </div>
            <div th:if="${msg}" th:text="${msg}"></div>
            <form id="signupForm" autocomplete="off">
                <div class="form-group has-feedback feedback-left">
                    <input type="email" placeholder="username (email)" class="form-control" name="username"
                           id="username"/>
                    <span class="form-control-feedback" aria-hidden="true"></span>
                </div>
                <div class="form-group has-feedback feedback-left">
                    <input type="password" placeholder="password" class="form-control" id="password" name="password"/>
                    <span class="form-control-feedback" aria-hidden="true"></span>
                </div>
                <div class="form-group has-feedback feedback-left">
                    <div class="row m-t">
                        <div class="col-xs-6">
                            <input type="text" name="validateCode" id="validateCode" class="form-control code"
                                   placeholder="verification code" maxlength="5"/>
                        </div>
                        <div class="col-xs-6">
                            <a href="javascript:void(0);" title="Click to change verification code">
                                <img th:src="@{/captcha/captchaImage}" class="imgcode" width="85%"/>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-block btn-primary" id="btnSubmit">Sign In</button>
                </div>
            </form>
            <div th:if="${param.error}">
                Invalid username and password.
            </div>
            <div class="text-center">
                <p class="m-b-0"><a th:href="@{/signup}">don't have an account</a></p>
            </div>
            <hr>
            <footer class="col-sm-12 text-center">
                <p class="m-b-0">Copyright © 2023 <a href="https://github.com/pixelsdb/pixels">PixelsDB</a>. All right
                    reserved</p>
            </footer>
        </div>
    </div>
</div>
</body>
</html>